.workspace-button {
  border-radius: 4px;

  padding-top: 2px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;

  margin: 5px;

  font-size: 90%;

  transition-duration: 200ms;
}

.workspace-button:hover {
  background-color: rgba(0, 0, 0, 0.275);
  box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.275);
}

.workspace-button-active {
  background-color: rgba(0, 0, 0, 0.175);
  box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.175);
}

.workspace-button-inactive {
  background-color: rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.075);
}

:overview .workspace-button:hover {
  background-color: rgba(255, 255, 255, 0.275);
  box-shadow: inset 0 0 5px 0 rgba(255, 255, 255, 0.275);
}

:overview .workspace-button-active {
  background-color: rgba(255, 255, 255, 0.175);
  box-shadow: inset 0 0 5px 0 rgba(255, 255, 255, 0.175);
}

:overview .workspace-button-inactive {
  background-color: rgba(255, 255, 255, 0.075);
  box-shadow: inset 0 0 5px 0 rgba(255, 255, 255, 0.075);
}

.task-box {
  border-radius: 4px;

  margin-top: 5px;
  margin-bottom: 5px;

  padding-left: 4px;
  padding-right: 4px;

  background-color: rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.075);

  transition-duration: 200ms;
}

:overview .task-box {
  background-color: rgba(255, 255, 255, 0.075);
  box-shadow: inset 0 0 5px 0 rgba(255, 255, 255, 0.075);
}

.task-box-focus {
  background-color: rgba(0, 0, 0, 0.175);
  box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.175);
}

:overview .task-box-focus {
  background-color: rgba(255, 255, 255, 0.175);
  box-shadow: inset 0 0 5px 0 rgba(255, 255, 255, 0.175);
}

.task-box-demands-attention {
  background-color: rgba(255, 0, 0, 0.45);
  box-shadow: inset 0 0 5px 0 rgba(255, 0, 0, 0.45);
}

.task-label {
  margin-left: 6px;
  margin-right: 6px;
}

.panel-yaru-like .panel-button,
.panel-yaru-like .panel-button * {
  font-weight: normal;
}

.panel-accent {
  background-color: st-lighten(-st-accent-color, 20%);
  color: -st-accent-fg-color;
}